[package]
name = "io-engine"
version = "0.7.0"
edition = "2024"
authors = ["plan <frostyplanet@gmail.com>"]
repository = "https://github.com/NaturalIO/io-engine"
documentation = "https://docs.rs/io-engine"
keywords = ["io", "aio", "io_uring"]
license = "MIT"
description = """
Library for block-based IO, intend to mask AIO/io_uring underneath.
"""

[dependencies]
libc = "0"
nix = "0"
parking_lot = "0.9"
io-engine-aio-bindings = "0.1"
log = "0.4"
captains-log = "0"
io-buffer = "1"
crossfire = "3.0"
io-uring = "0.7"
embed-collections = { version="0", default-features=false, features = ["slist"] }

[dev-dependencies]
rand = "0.9"
getrandom = "0.1"
md5 = "0"
tokio = { version = "1", features = ["time", "sync", "rt-multi-thread"] }
atomic-waitgroup = "0"

[features]
default = []
compress = []
